<html><head><style>
#text{width:100%; font-size: 15px; padding: 5px; display: block;}
</style></head><body>
  <input id="text" placeholder="Write then press Enter."/>
  <div id="chat"></div>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script>
  $('#text').keypress(function(e){
    if( e.keyCode==13 ){
      $.get('/send',{text:$('#text').val()});
      $('#text').val('');
    }
  });
  last = 0;
  setInterval(function(){
    $.get('/update',{last:last},
      function(response){
        last = $('<p>').html(response).find('span').data('last');
        $('#chat').append(response);
        });
    },1000);
  </script>
</body></html>

