n: 0px;
	padding: 0px
}

#ERROR{
	position: fixed;
	z-index: 100;
	left: 30%;
	top: 45%;
	width: 40%;
	height: 10%;
	display: table;
	text-align: center;
	box-shadow: 1px 1px 12px #000;
	opacity: 0;
	-webkit-animation: fadeout 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeout 1s; /* Firefox < 16 */
        -ms-animation: fadeout 1s; /* Internet Explorer */
         -o-animation: fadeout 1s; /* Opera < 12.1 */
            animation: fadeout 1s;

    -webkit-transition: opacity;
       -moz-transition: opacity;
        -ms-transition: opacity;
         -o-transition: opacity;
            transition: opacity;
    -webkit-transition-delay: 5s;
       -moz-transition-delay: 5s;
        -ms-transition-delay: 5s;
         -o-transition-delay: 5s;
            transition-delay: 5s;
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

#ERROR > span{
	display: table-cell;
	vertical-align: middle;
	font-weight: bold;
	font-size: 2em;
}

html,body {
        height:100%; 
        background:linear-gradient(to right, #616161, #9bc5c3);
}

h1 {
        font-family: Arial,sans-serif;
        font-size:60px;
        color:black; 
}     
    
/* Custom container */
.container-full {
        margin: 0 auto;        
        width: 100%;
        min-height:20%;        
        /*background:linear-gradient(to right, #616161, #9bc5c3);*/
        color:black;
        overflow:hidden;
}   
.container-full a {  
        margin-top: 70px;
        margin-bottom: 70px;
        color:#efefef;
        text-decoration:none;
} 
.v-center {
        margin-top:2%;
} 
.container-down {              
        margin-top:2%;         
} 

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn.btn-success.btn-lg{
  color:black;
  background:#0489B1;
  border-color:#0489B1;
  
}

.btn.btn-success.btn-lg:hover{
    background:#F3F781;
}



.tit{
  text-align:center;
  width:700px;
  height:60px;
  margin:auto;
  font-size:30px;
  border:solid;
  border-radius:50px;
  border-top-left-radius:0;
  border-bottom-right-radius:0;
  margin-top:20px;
}


.col-md-12{
  margin-top:50px;
  padding-left:30px;
  font-weight: bold;
  
}

.col-md-12 a {
 color:blue; 
 font-weight: bold;
}
